@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&family=Poppins:wght@500&display=swap");
html,
body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
  left: 0;
  top: 0;
  user-select: none;
}

.H100 {
  height: 100vh;
}

.NavbarButton {
  cursor: pointer;
  opacity: 0;
}
.NavbarTitle {
  h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    opacity: 0;
    z-index: 15 !important;
    user-select: none;
    cursor: pointer;
    &:hover {
      color: #f5f5f5;
    }
  }
  position: relative;
  background-color: transparent;
  z-index: 15 !important;
}

.MainSection {
  transform: translateY(100px);
  opacity: 0;
}

.Index-1 {
  z-index: 1 !important;
}
.Screen {
  font-family: "Montserrat", sans-serif;
  .ScreenText {
    font-size: 9rem;
  }
  @media (max-width: 575.98px) {
    .ScreenText {
      font-size: 4rem;
    }
    .fs-md-1 {
      font-size: 1.2rem !important;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    backdrop-filter: blur(5px);
  }
}

.SunSvg {
  opacity: 0;
}

.Center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1 !important;
  color: rgb(22, 22, 22);
  input {
    color: black;
  }
  label {
    color: rgb(14, 13, 13) !important;
  }
  text-align: center;
}

.Homepage {
  position: fixed;
}
.HomeScreenImage {
  z-index: 0 !important;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: block;
}
.LeadText {
  color: rgb(115, 0, 255);
  font-family: "Poppins", sans-serif;
}
.Blur {
  backdrop-filter: blur(25px) !important;
}

.PageNotFound {
  z-index: 1 !important;
  height: 100vh;
  width: 100vw;
  background-color: black !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1 {
    font-size: 6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
  }
  button {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
}
